{#
/**
 * @file
 * Theme override for commerce_promotion_views.
 *
 * Available variables:
 * - amount:
 *     The formatted price (e.g "$10").
 * - percentage:
 *     The discount percentage (e.g "10%").
 *
 */
#}
{%
  set classes = [
  'bundle-promotion'
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if amount %}
    <div class="amount"><p>{{ amount }}</span></p></div>
  {% endif %}
  {% if percentage %}
    <div class="percentage-number"><p>{{ percentage }}%</p></div>
  {% endif %}
</div>
